<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} - AndrewAntles.Net</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ root }}public/style.css">
  </head>
  <body>
    <!-- component:header -->
    <!-- component:navbar -->

    <main class="page-content">
      <article class="blog-post">
        <p class="post-meta">
          <time datetime="{{ date }}">{{ date_display }}</time> by <span class="author">{{ author }}</span>
        </p>
        {{ toc }}
        {{ content }}
      </article>
    </main>

    <!-- component:footer -->
  </body>
</html>
