.header {
  background-color: #3998dd;
  padding: 12px;
  text-align: center;
}

#header-pic {
  max-height: 80px;
  height: 80px;
  width: 80px;
  display: inline; 
  border-radius: 50%;
  vertical-align: top;
  object-fit: cover;
}

#header-text {
  display: inline-block;
  padding: 0 2.5%;
  margin: center 0;
}

.menu-container {
  display: block table;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #f0f0f0;
  width: 100%;
  text-align: center;
}

.menu-container #blog-menu {
  padding-top: 20px;
}

.menu > span {
  padding: 0 5px;
}

body {
  background-color: #fcfcfc;
}

.page-content {
  max-width: 800px;
  margin: auto;
}

h1, h2, h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #333;
}

p, a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #353535;
}

img {
  border: 2px solid #ccc;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

pre {
  background-color: #f0f0f0; 
  padding: 10px; 
  border-radius: 4px; 
  overflow-x: auto; 
  font-family: Consolas, monospace; 
  font-size: 14px; 
  line-height: 1.5; 
}

@media only screen and (max-width: 300px) {
  #header-text {
    font-size: 24px;
    margin-bottom: 11px;
  }
}