.header {
  background-color: #3998dd;
  padding: 12px;
  text-align: center;
}

#header-pic {
  max-height: 80px;
  display: inline; 
  border-radius: 50%;
  vertical-align: top;
}

#header-text {
  display: inline-block;
  padding: 0 1.5% ;/*18px;*/ /*Seeing if adjusting this helps for mobile at all*/

}

.navbar {
  display: block table;
  margin: 0 auto;
  padding: 20px 0 0 0;
}

.navbar > span {
  padding: 0 5px;
}

#side-menu {
  height: 100%;
}

.page-content {
  max-width: 800px;
  margin: auto;
}

h1, h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p, a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}